<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>book-exchange</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coursePicker</display-name>
    <servlet-name>coursePicker</servlet-name>
    <servlet-class>controller.coursePicker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coursePicker</servlet-name>
    <url-pattern>/coursePicker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupController</display-name>
    <servlet-name>signupController</servlet-name>
    <servlet-class>controller.signupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookQueryController</display-name>
    <servlet-name>bookQueryController</servlet-name>
    <servlet-class>controller.bookQueryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookQueryController</servlet-name>
    <url-pattern>/bookQuery</url-pattern>
  </servlet-mapping>
</web-app>